@import "tailwindcss";

@theme {
  --color-cream: #FAF8F5;
  --color-brown: #3D2B1F;
  --color-rose: #C9956C;
}

.input-base {
  @apply w-full border border-brown/20 rounded-xl px-3 py-2 text-sm text-brown bg-white focus:outline-none focus:border-rose;
}
